@charset "UTF-8";

div.homeContainer {
  display: flex;
  flex-flow: column;
  height: 100vh;
  background: #0e0e0e;
  font-family: monospace;
  gap: 0 2em;
  justify-content: space-around;
}

div.textItems {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  color: white;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
}

div.textItems h2 {
  font-family: 'Courier New', monospace;
  max-width: 200px;
  margin-top: 10px;
  text-align: left;
  overflow: hidden;
  text-align: center;
}


span.cursor {
  display: inline-block;
  width: 10px;
  animation: blink 0.8s infinite;
}

.countryBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 15em;
  margin: auto;
  perspective: 1000px;
}

.brazilIcon {
  transition: filter 0.1s ease;
  filter: drop-shadow(0 0 3px lime);
}

.brazilIcon:hover {
  filter: drop-shadow(0 0 10px lime);
}

div.countryData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: lime;
    font-weight: 600;
    font-size: 1.5em;
    padding: 20px;
}


@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
}
