@charset "UTF-8";

html, body {
    max-width: 100vw;
    max-height: 100vh;
}

@media screen and (max-width: 950px) {
    a {
        font-size: .8em;
    }

    h1, h2 {
        font-size: 1.7em;
    }

    p {
        font-size: .8em;
    }
}

@media screen and (max-width: 835px) {
    a {
        font-size: .6em;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    p {
        font-size: .6em;
    }
}

@media screen and (max-width: 460px) {
    h1, h2 {
        font-size: 1em;
    }

    p {
        font-size: .6em;
    }

    div.imgContainer {
        display: none;
    }
}